body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* Navigation bar */ 

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 0;
}
.navbar{
    padding-bottom: 3rem;
    /* margin: 0; */
  
}
.container-fluid-nav{
 padding: 0 6%;
}

.nav-item{
    margin: 0 10px;
}

.nav-item1{
    margin-left: 115%;
}
.nav-link{
    font-size: 1rem;
}


/* Title Section */
#title{
    background-color: #ff4c68;
}

.container-fluid{
    padding: 0 10% 3%;
    
}

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 600;
    
    color: white;
}

h3{
    color: black;    
    margin: 15px auto 0;
    font-family: 'montserrat-bold' , sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  
}
/* Download Buttons */
.btn{
    margin: 10px;
    color: white;
}
.btn-outline-danger{
    border-color: white;
}
.btn-dark:hover{
    background-color: rgb(56, 53, 53);
}

/* Title Image */

.mobile{
    height: 40vw;
    transform: rotate(25deg);
    margin: 10px;
    position: absolute;
    right: 35%;   
}

.row{
    text-align: center;
    
}


/* Features Section */

.section1{
   
    background-color: white;
    position: relative;
   
    
}
.fas{
    color: #ef8172;
    margin-top: 80px;
    
}
.fas:hover{
    color: #ff4c88;
}
h3{
    color: black;    
    margin: 15px auto 0;
    font-family: 'montserrat-bold' , sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  
}
.features-sec{
    color: #8f8f8f;
    padding: 5%;

}



/* Testimonials */
.testimonial-text{
    font-family: 'montserrat-bold' , sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
 padding: 0 18%;
 
}

#testimonials{
    background-color: #ef8172;
    padding: 8% 0 5%;
}


.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press section */

#press{
    background-color: #ef8172;
    padding: 5%;
    padding-top: 0;
}
.press-logo{
    width: 15%;
    margin: 0 15px;
}

.carousal-items{
    padding: 0 10% 3%;
}

/* Pricing Section */

.price-heading{
    color: black;
    margin: 20px auto;
}
.card{
    margin: 20px 0;
}
.card-body{
    line-height: 0.5;
}
h2{
    font-weight: bold;
}
p{
    line-height: 2;
}

/* footer Section */

#cta{
    
    background-color: #ff4c68;
    color: white;
    padding: 3%;
    line-height: 2;
}
#cta h3{
    color: #fff;
   

}
.btn-foot1{
    margin-top: 50px;
    color: white;
}
.btn-foot2{
    margin-top: 50px;
    color: black;
}
#footer{
    background-color: #fff;

  
}
.icon-foot{
    color: black;
    padding: 0 7px;
}

.footer-text{
    font-size: 0.75rem;
}




/* media queries*/


@media screen and (max-width:990px) {
    h3{
        font-size: 3rem;
    }
    .navbar-brand{
        font-size: 4rem;
    }
    .nav-item1{
        margin-left:12px ;
    }
    p{
        font-size: 1.75rem;
    }
    .nav-link{
        font-size: 2.5rem;
    }
    
    .mobile{
        position: static;
        transform: none;
        height: 40vh;
    }
    .features-sec{
        padding: 1%; 
        
    }
    .row .col-lg-4 h3{
        font-size: 3rem;
    } 
   
    em{
        font-size: 1rem;
    }
    .testimonial-img{
        width: 20%;
    }
    /* Pricing */
   .price-heading{
       font-size: 3rem;
   }
   .btn{
       font-size: 1.5rem;
       padding: 20px;
   }
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */